@use "sass:map";

@import "../node_modules/bootstrap/scss/functions";


$white: #ffffff;

$theme-colors: (
    "light":      #bab8c0,
    "dark":       #050001,
    "primary":    #2d471e,
    "secondary":  #cfd7d8,
    "info":       #0071d8,
    "success":    #18b000,
    "warning":    #fcc500,
    "danger":     #f7004e,
);

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";


@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
//@import "../node_modules/bootstrap/scss/type";
//@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";

@import "../node_modules/bootstrap/scss/utilities/api";

.bg-gray {
    background-color: map.get($theme-colors, "primary");
    color : $white;
}

 .dialog-overlay {
    z-index: 1;
    position : absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(666, 666, 666, 0.7);
    backdrop-filter: blur(20px);
}

[data-bs-theme="dark"] .dialog-overlay {
    background-color:  rgba(0, 0, 0, 0.3);
}

.dialog-content {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius : var(--bs-border-radius-2xl);
    padding : $spacer * 1.5;
}

.btn-tiny {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

.first-row {
    grid-row : 1;
}

.second-row {
    grid-row : 2;
}

.third-row {
    grid-row : 3;
}

@mixin grid-item {
    display: inline-flex;
    height: 2rem;
	align-items: center;
	justify-content: center;
    width : 5rem;

}
.middle-of-row {
    @include grid-item;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.pitch-grid-button {
    @include grid-item;
}

.pitch-grid-button.selected {
    background-color: map.get($theme-colors, "primary");
    color : $white;
}

.pitch-grid-button:hover {
    background-color: map.get($theme-colors, "light");
    color : $white;
}

.w-5rem {
    width: 5rem;
}

.highlighted {
    background-color:  rgb(31, 60, 31);
}

 [data-bs-theme="dark"] .highlighted {
    background-color: rgb(112, 128, 113);
}

.btn-bg {
    background-color: var(--bs-background);
}

.fade-in {
    cursor: pointer;
    opacity: 0.25;
    font-size: 0.8rem;
/*     animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: opacity, transform; */
}

.fade-in:hover,
.fade-in:hover::before {
    /* animation-name: fadeIn; */
    opacity: 1;
	transform: scale(2, 2);
}

/* @keyframes fadeIn {
	from {
		opacity: 0.25;
		transform: none;
	}
	to {
		opacity: 1;
		transform: scale(5, 1.5);
	}
} */




.TooltipContent {
	border-radius: 4px;
	padding: 10px 15px;
	font-size: 15px;
	line-height: 1;
	color: var(--violet-11);
	background-color: white;
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	user-select: none;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
}
.TooltipContent[data-state="delayed-open"][data-side="top"] {
	animation-name: slideDownAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="right"] {
	animation-name: slideLeftAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="left"] {
	animation-name: slideRightAndFade;
}

.PopoverContent {
	border-radius: 4px;
	padding: 20px;
	background-color: var(--bs-light-bg-subtle);
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
}
.PopoverContent:focus {
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px,
		0 0 0 2px var(--violet-7);
}
.PopoverContent[data-state="open"][data-side="top"] {
	animation-name: slideDownAndFade;
}
.PopoverContent[data-state="open"][data-side="right"] {
	animation-name: slideLeftAndFade;
}
.PopoverContent[data-state="open"][data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.PopoverContent[data-state="open"][data-side="left"] {
	animation-name: slideRightAndFade;
}

.PopoverArrow {
	fill: white;
}

.PopoverClose {
	font-family: inherit;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--violet-11);
	position: absolute;
	top: 5px;
	right: 5px;
}
.PopoverClose:hover {
	background-color: var(--violet-4);
}
.PopoverClose:focus {
	box-shadow: 0 0 0 2px var(--violet-7);
}

.SliderRoot {
	position: relative;
	display: flex;
	align-items: center;
	user-select: none;
	touch-action: none;
	width: 200px;
	height: 20px;
}

.SliderTrack {
	background-color: var(--bs-secondary);
	position: relative;
	flex-grow: 1;
	border-radius: 9999px;
	height: 3px;
}

.SliderRange {
	position: absolute;
	background-color: var(--bs-primary);
	border-radius: 9999px;
	height: 100%;
}

.SliderThumb {
	display: block;
	width: 20px;
	height: 20px;
	background-color: white;
	box-shadow: 0 2px 10px var(--bs-info);
	border-radius: 10px;
}
.SliderThumb:hover {
	background-color: var(--bs-info);
}
.SliderThumb:focus {
	outline: none;
	box-shadow: 0 0 0 5px var(--bs-info);
}

.SelectTrigger {
	border-radius: 4px;
	gap: 5px;
	background-color: white;
}
.SelectTrigger:hover {
	background-color: var(--mauve-3);
}
.SelectTrigger:focus {
	box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
	color: var(--violet-9);
}

.SelectIcon {
	color: Var(--violet-11);
}

.SelectContent {
	overflow: hidden;
	background-color:var(--bs-light-bg-subtle);
	border-radius: 6px;
	box-shadow:
		0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

[data-bs-theme="dark"] .SelectItem {
    color : white;
}


.SelectViewport {
	padding: 5px;
}

.SelectItem {
	font-size: 13px;
	line-height: 1;
	color: var(--bs-dark);
	border-radius: 3px;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 35px 0 25px;
	position: relative;
	user-select: none;
}
.SelectItem[data-disabled] {
	color: var(--mauve-8);
	pointer-events: none;
}
.SelectItem[data-highlighted] {
	outline: none;
	background-color: var(--bs-secondary);
	color: var(--bs-info);
}

.SelectLabel {
	padding: 0 25px;
	font-size: 12px;
	line-height: 25px;
	color: var(--mauve-11);
}

.SelectSeparator {
	height: 1px;
	background-color: var(--violet-6);
	margin: 5px;
}

.SelectItemIndicator {
	position: absolute;
	left: 0;
	// width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.SelectScrollButton {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	background-color: white;
	color: var(--violet-11);
	cursor: default;
}


.DropdownMenuContent,
.DropdownMenuSubContent {
	min-width: 220px;
	background-color: var(--bs-secondary);
	color: var(--bs-dark);
	border-radius: 6px;
	padding: 5px;
	box-shadow:
		0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
}
.DropdownMenuContent[data-side="top"],
.DropdownMenuSubContent[data-side="top"] {
	animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"],
.DropdownMenuSubContent[data-side="right"] {
	animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"],
.DropdownMenuSubContent[data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"],
.DropdownMenuSubContent[data-side="left"] {
	animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
	font-size: 13px;
	line-height: 1;
	color: var(--violet-11);
	border-radius: 3px;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 5px;
	position: relative;
	padding-left: 25px;
	user-select: none;
	outline: none;
}
.DropdownMenuSubTrigger[data-state="open"] {
	background-color: var(--violet-4);
	color: var(--violet-11);
}
.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
	color: var(--mauve-8);
	pointer-events: none;
}
.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
	background-color: var(--violet-9);
	color: var(--violet-1);
}

.DropdownMenuLabel {
	padding-left: 25px;
	font-size: 12px;
	line-height: 25px;
	color: var(--mauve-11);
}

.DropdownMenuSeparator {
	height: 1px;
	background-color: var(--violet-6);
	margin: 5px;
}

.DropdownMenuItemIndicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.DropdownMenuArrow {
	fill: white;
}

.IconButton {
	font-family: inherit;
	border-radius: 100%;
	height: 35px;
	width: 35px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--violet-11);
	background-color: white;
	box-shadow: 0 2px 10px var(--black-a7);
}
.IconButton:hover {
	background-color: var(--violet-3);
}
.IconButton:focus {
	box-shadow: 0 0 0 2px black;
}

.RightSlot {
	margin-left: auto;
	padding-left: 20px;
	color: var(--mauve-11);
}
[data-highlighted] > .RightSlot {
	color: white;
}
[data-disabled] .RightSlot {
	color: var(--mauve-8);
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
