@use "sass:map";

@import "../node_modules/bootstrap/scss/functions";


$white: #ffffff;

$theme-colors: (
    "light":      #bab8c0,
    "dark":       #050001,
    "primary":    #2d471e,
    "secondary":  #cfd7d8,
    "info":       #0071d8,
    "success":    #18b000,
    "warning":    #fcc500,
    "danger":     #f7004e,
);

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";


@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
//@import "../node_modules/bootstrap/scss/type";
//@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/buttons";

@import "../node_modules/bootstrap/scss/utilities/api";

.bg-gray {
    background-color: map.get($theme-colors, "primary");
    color : $white;
}

 .dialog-overlay {
    z-index: 1;
    position : absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(666, 666, 666, 0.7);
    backdrop-filter: blur(20px);
}

[data-bs-theme="dark"] .dialog-overlay {
    background-color:  rgba(0, 0, 0, 0.3);
}

.dialog-content {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius : var(--bs-border-radius-2xl);
    padding : $spacer * 1.5;
}

.btn-tiny {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

.second-row {
    grid-row : 2;
}

.third-row {
    grid-row : 3;
}

.middle-of-row {
    margin-bottom: 1rem;
    margin-top: 1rem
}

.w-5rem {
    width: 5rem;
}
