.seqgen-ui {
    margin-block-start : 10dvh;
    margin-inline : 10vw;
}

.top-actions {
    display : grid;
    grid-template-columns : 1fr 2fr 1fr;
    column-gap : 1rem;
}

.top-actions__reset {
    justify-self: end;
}

.lanes {
    --track-height : 5rem;
    --row-gap : 1rem;
    display : grid;
    grid-template-columns: 9rem 1fr;
    margin-block-start : 2rem;
}

.lanes__label-wrapper {
    display : grid;
    grid-template-columns: 9rem;
    grid-template-rows: repeat(3, var(--track-height));
    row-gap: var(--row-gap);
}

.lanes__label {
        border-right: 3px solid black;
        padding-block : 1rem;
        font-weight : 700;
        font-size : 1.5rem;
        align-self: center;
        align-content: center;
}


.lanes__tracks-wrapper {
        display: grid;
        width: 100%;
        overflow-x : scroll;
        overflow-y : hidden;

        grid-row-gap: var(--row-gap);
        grid-column-gap: 0.5rem;
        margin-inline: 1rem;
        /* The track is an alternating set of small columns (for the '+' buttons)
           and larger columns (for the pitch, duration, velocity values) */
        grid-template-columns: 0.5rem repeat(auto-fill, 5rem 0.5rem);
        grid-template-rows: repeat(3, var(--track-height));
}

.lanes__value {
    align-self: center;
    justify-self: center;

    /* HERE - This should be a 2 by 2 grid with the first column
       being small and the second having the button with the value */
    display: grid;
    grid-template-columns: 0.5rem 1fr;
    grid-template-rows: calc(var(--track-height) - 1em) 1em;
    grid-template-areas:
        "value add-value"
        "remove-value empty";
}

.value-place {
    grid-area: value;
}
.remove-value-place {
    grid-area: remove-value;
}
.add-value-place {
    grid-area: add-value;
}

.lanes__add-value {
    cursor: pointer;
    opacity: 0.25;
    font-size: 0.8rem;
	align-self: center;
	justify-self: center;


    &:hover  {
        opacity: 1;
        transform: scale(2, 2);
    }

}


/* Utility classes to make sure the values are on the correct row */
.first-row {
    grid-row : 1;
}

.second-row {
    grid-row : 2;
}

.third-row {
    grid-row : 3;
}



