.seqgen-ui {
    margin-block-start : 10dvh;
    margin-inline : 10vw;
}

.top-actions {
    display : grid;
    grid-template-columns : 1fr 2fr 1fr;
    column-gap : 1rem;
}

.top-actions__reset {
    justify-self: end;
}

.lanes {
    --track-height : 5rem;
    --row-gap : 1rem;
    display : grid;
    grid-template-columns: 9rem 1fr;
    margin-block-start : 2rem;
}

.lanes__label-wrapper {
    display : grid;
    grid-template-columns: 9rem;
    grid-template-rows: repeat(3, var(--track-height));
    row-gap: var(--row-gap);
}

.lanes__label {
        border-right: 3px solid black;
        padding-block : 1rem;
        font-weight : 700;
        font-size : 1.5rem;
        align-self: center;
        align-content: center;
}


.lanes__tracks-wrapper {
    display: grid;
    width: 100%;
    overflow-x : scroll;
    overflow-y : hidden;

    grid-row-gap: var(--row-gap);
    grid-column-gap: 0.5rem;
    margin-inline: 0.5rem;
    padding-inline: 0.5rem;
    grid-template-columns: 0.5rem;
    grid-auto-columns: 6rem;
    grid-template-rows: repeat(3, var(--track-height));
}

.lanes__value {
    place-self: center;

    /* This should be a 2 by 2 grid with the second column
       being small and the first having the button with the value */
    display: grid;
    grid-template-columns: 5rem 0.5rem ;
    grid-template-rows: 2.5em 1em;
    grid-column-gap: 0.5rem;
    grid-template-areas:
        "value add-value"
        "remove-value empty";
}

.remove-button {
    place-self: center;
    cursor: pointer;
    opacity: 0.5;
    font-size: 0.8rem;

    &:hover  {
        opacity: 1;
        transform: scale(2, 2);
    }

}
.value-place {
    grid-area: value;
}
.remove-value-place {
    grid-area: remove-value;
}
.add-value-place {
    grid-area: add-value;
}

/* The '+' button to add a value */
.lanes__add-value {
    cursor: pointer;
    opacity: 0.5;
    font-size: 0.8rem;
	place-self: center;

    &:hover  {
        opacity: 1;
        transform: scale(2, 2);
    }

}

.lanes__add-value--first {
    margin-block-end : 1rem;
}


/* Utility classes to make sure the values are on the correct row */
.pitch-lane {
    grid-row : 1;
}

.duration-lane {
    grid-row : 2;
}

.velocity-lane {
    grid-row : 3;
}



