:root {
    /* THEME VARS */
    --clr-border : black;
    --clr-primary: #2d471e;
    --clr-fg : black;
    --clr-bg : white;

    --clr-brand :#2d471e;
    --clr-accent : var(--clr-brand);

    --border-radius : .5rem;

    --font-size-h1 : calc(1.375rem + 1.5vw);
    --font-size-h2 : calc(1.325rem + .9vw);
    --font-size-h3 : calc(1.3rem + .6vw);

}

[data-theme="dark"] {
    --clr-border : #dee2e6;
    --clr-fg : white;
    --clr-bg : #212529;
    --clr-accent : #83e64a;
}


body {
    background-color : var(--clr-bg);
    color : var(--clr-fg);

    --border-std : 1px solid var(--clr-border);
}

input, select, button, optgroup, textarea {
    height : 2rem;
    border-radius: .5rem;
    border: var(--border-std);
    margin : 0 .25rem;
    color : var(--clr-fg);
    background-color : var(--clr-bg);
    accent-color: var(--clr-accent);
    background-color: var(--clr-bg);
    color: var(--clr-fg);
}

.d-none {
    display: none;
}
